div {
  .snackbar {
    bottom: 68px;
    @media (max-width: 900px) {
      position: fixed;
      left: auto;
      right: 10px;
      transform: initial;
    }
  }

  .text {
    font-size: 1rem;
  }
}
