.btn {
  & span {
    color: #fff;
    text-transform: none;
    overflow: hidden;
  }

  img {
    width: 1.75rem;
    margin-right: 0.5rem;
  }
}

.link {
  display: inline-block;
  color: inherit;
  line-height: 1rem;
  text-decoration: none;
  padding: 0.6rem 1.1rem;
}

.menu {
  li {
    padding: 0;
  }
}
