@font-face {
  font-family: 'Maven Pro';
  src: url('../assets/fonts/MavenPro-VariableFont_wght.ttf');
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  background-image: linear-gradient(#a4dad2, #bce08a);
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 100%;
  font-size: 100%;
  box-sizing: border-box;
}

body {
  font-family: 'Maven Pro', sans-serif;
  min-width: 320px;
}

#root {
  max-width: 900px;
  margin: auto;

  .MuiFormLabel-root,
  .MuiInputBase-input,
  .MuiButtonBase-root,
  .MuiTypography-root,
  .MuiDataGrid-root,
  .MuiFormHelperText-root,
  .MuiAlert-message,
  .VictoryContainer tspan {
    font-family: inherit;
  }
}

h1 {
  font-size: 1.25rem;
  line-height: 1.6;
  letter-spacing: 0.0075em;
  flex-grow: 1;
}

h2 {
  font-size: 2.5rem;
  letter-spacing: 2px;
  color: #444;
  margin-bottom: 2rem;
  line-height: 3rem;
}

header,
main,
footer,
nav {
  max-width: 900px;
}
