.link {
  display: inline-block;
  color: inherit;
  line-height: 1rem;
  text-decoration: none;
  padding: 0.4rem 0.8rem;
}

.btn {
  color: #fff !important;
  border-color: #fff !important;
  padding: 0;
}
