.group {
  .btn {
    color: #fff;
    padding: 0;
    &:not(:last-child) {
      border-color: #fff;
    }
  }

  .link {
    display: inline-block;
    color: inherit;
    line-height: 1rem;
    text-decoration: none;
    padding: 0.4rem 0.8rem;
  }
}
