<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Custom Styles -->
    <link href="/static/css/styles.css" rel="stylesheet">
    
    <title>WeighMe</title>
</head>
<body>
    <header>
        <h1><a href="/">WeighMe</a></h1>
        <nav>
            <ul class="navbar-nav mr-auto mt-2">
                {% if session.person_id %}
                    <li><a href="/">Add</a></li>
                    <li><a href="/analytics">Analytics</a></li>
                    <li><a href="/logout">Log Out</a></li>
                {% else %}
                    <li><a href="/register">Register</a></li>
                    <li><a href="/login">Log In</a></li>
                {% endif %}
            </ul>
            </div>
        </nav>
    </header>

    <main>
        {% block main %}{% endblock %}
    </main>

    <footer>
        <p>Developed by Manuel Figueira - April 2021</p>
    </footer>
</body>
</html>