{% extends "layout.html" %}

{% block main %}

    <section>
        <h2>Register</h2>
        <form action="/register" method="post">
            <input name="username" placeholder="Username" type="text" autocomplete="off" autofocus />
            <input name="password" placeholder="Password" type="password" />
            <input name="confirmation" placeholder="Confirm Password" type="password" />
            <input type="submit" value="Register" />
        </form>
    </section>

{% endblock %}