@font-face {
  font-family: 'Maven Pro';
  src: url('./assets/fonts/MavenPro-VariableFont_wght.ttf');
}

html {
  font-size: 16px;
}

#root {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: 'Maven Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(#a4dad2, #bce08a);
  min-height: 100vh;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

header, main, footer {
  max-width: 900px;
  margin: auto;
  padding: 0.5rem;
}