@font-face {
  font-family: 'Maven Pro';
  src: url('./assets/fonts/MavenPro-VariableFont_wght.ttf');
}

.MuiFormLabel-root,
.MuiInputBase-input,
.MuiButtonBase-root,
.MuiTypography-root,
.MuiDataGrid-root,
.MuiFormHelperText-root,
.MuiAlert-message,
.VictoryContainer tspan {
  font-family: 'Maven Pro', sans-serif!important;
}

html {
  font-family: 'Maven Pro', sans-serif;
  font-size: 16px;
  min-width: 320px;
  background-image: linear-gradient(#a4dad2, #bce08a);
}

#root {
  max-width: 900px;
  min-height: 100vh;
  margin: auto;
}

h1 {
  font-size: 1.25rem;
  line-height: 1.6;
  letter-spacing: 0.0075em;
  flex-grow: 1;
}

h2 {
  font-size: 2.5rem;
  letter-spacing: 2px;
  color: #444;
  margin-bottom: 2rem;
  line-height: 3rem;
}

header, main, footer, nav {
  max-width: 900px;
}