.MuiSnackbar-root {
    right: 16px!important;
}

@media (min-width: 600px) {
    .MuiSnackbar-root {
        right: 24px!important;
    }
}

@media (min-width: 900px) {
    .MuiSnackbar-root {
        transform: translateX(-50%);
        left: 50%;
        right: 0!important;
        justify-content: center;
    }
}