.weighing-grid-th {
  background-color: #3f51b5;
  color: #fff;
  font-size: 1rem;
}

.weighing-grid-th path {
  fill: #fff;
}

.MuiDataGrid-root.zero-state-grid {
  height: 300px!important;
}

.MuiDataGrid-root .MuiDataGrid-cell:focus,
.MuiDataGrid-root .MuiDataGrid-cell:focus-within {
  outline: 0!important;
}

.MuiInputBase-root.MuiTablePagination-input {
  display: flex!important;
  margin: 0;
  margin-right: 10px;
}

.MuiTypography-root.MuiTablePagination-caption {
  display: flex!important;
  margin: 0;
}

.MuiDataGrid-root .MuiDataGrid-colCellRight .MuiDataGrid-colCellTitleContainer,
.MuiDataGrid-root .MuiDataGrid-colCellTitleContainer {
  justify-content: center!important;
}

.MuiDataGrid-root .MuiButton-textSizeSmall {
  font-size: 1rem!important;
}

.MuiDataGrid-root .MuiDataGrid-toolbar {
  justify-content: space-between;
  padding: 4px!important;
}

.MuiDataGrid-root .MuiDataGrid-renderingZone > div:nth-child(odd) {
  background-color: rgba(160, 200, 160, 0.5);
}
.MuiDataGrid-root .MuiDataGrid-renderingZone > div:nth-child(even) {
  background-color: rgba(200, 200, 255, 0.5);
}

.MuiDataGridPanel-root {
  max-width: 95%;
}

.MuiDataGridPanel-root .MuiDataGridPanelWrapper-root {
  width: 100%;
}

.MuiDataGrid-root .MuiDataGrid-cellRight,
.MuiDataGrid-root .MuiDataGrid-cellLeft {
  text-align: center!important;
  font-size: 1rem;
  font-weight: bold;
}

.MuiDataGrid-root .MuiDataGrid-cell,
.MuiDataGrid-root .MuiDataGrid-colCellSortable {
  padding: 0 5px!important;
}

.MuiTablePagination-actions {
  margin-left: 0px!important;
}

@media (max-width: 400px) {
  .MuiInputBase-root.MuiTablePagination-input.makeStyles-input-7.MuiTablePagination-selectRoot {
    margin: 0;
  }
}

.VictoryContainer rect {
  fill: #333!important;
}